.tabela{
    height: 70px;
    align-items: center;
    display:flex;
    background-color: black;
    gap: 1150px;
    justify-content: space-around;
    
}
.icons{
    display: flex;
    padding:10px;
    background-color: rgb(0, 0, 0);
    gap: 30px;
}
.icones{
    padding: 7px;
}
.icones:hover{
    background-color: blueviolet;
    border-radius: 20px;
}